// change the theme
$blue: #458AF7;
$primary: #458AF7;

$font-size-base: 1rem;
$h1-font-size: $font-size-base * 5;

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.pt-1 {
  padding-top: 1rem;
}

.pt-5 {
  padding-top: 5rem;
}
